<li id="comment-<%= comment.id%>" class="comment-div">
    <!-- Delete button for the comment -->
    <small>
        <% if ((locals.user && locals.user.id==comment.user._id) || (locals.user && locals.user.id==post.user.id)) { %>
            <a class="comment-delete-button" href="/comments/destroy/<%= comment._id %>">x</a>
        <% } %>
    </small>
    <%= comment.content %>
    <small>
        <p>
            <%= comment.user.name %>
        </p>
    </small>
    <%if(locals.user){%>
        <div class="like-toggle">
            <a class="like-button<%= comment.likes.some(like => like.user._id.equals(deviceUser._id)) ? ' liked' : '' %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment"><i class="far fa-thumbs-up"></i></a>
            <small><span id="count-comment-<%=comment._id%>-Likes"><%=comment.likes.length%></span> Likes</small>
        </div>
    <%}else{%>
        <div class="like-toggle">
            <i class="far fa-thumbs-up"></i>
            <small><span id="count-comment-<%=comment._id%>-Likes"><%=comment.likes.length%></span> Likes</small>
        </div>
    <%}%>
</li>