<!-- section for the Friends -->
<aside id="user-sidebar">
    <div>
        <h2>Friends</h2>
        <% for(let curr_user of all_users){ if(curr_user.id != deviceUser.id && curr_user.friendships.some(friendship => friendship.from_user == deviceUser.id || friendship.to_user == deviceUser.id)){%>
            <div>
                <a href="/users/profile/<%=curr_user.id%>"><%=curr_user.name%></a>
                <a class="friend-toggle"href="/users/friend/<%=curr_user._id%>">x</a>
            </div>
        <%}%>
        <%}%>
        <!-- The listing of the friends and Remove button here -->
    </div>
    <div id="container-friends">
        <h2>Suggested for you</h2>
        <% for(u of all_users) { %>
            <p>
                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
        <% } %>
    </div>
</aside>