<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociam</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/letter-s.png">
    <link href="/lib/noty.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/themes/light.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script src="/lib/noty.js" type="text/javascript"></script>
    <%- style -%>
</head>
<body>
    <%- include('_header') -%>
    <main>
        <%- body -%>
    </main>
    <%- include('_footer') -%>

    <script>
        <% if(locals.flash.success && locals.flash.success.length>0){ %>
            new Noty({
                theme: 'light',
                type: 'success',
                text: '<%=locals.flash.success%>',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>
        <% if(locals.flash.error && locals.flash.error.length>0){ %>
            new Noty({
                theme: 'light',
                type: 'error',
                text: '<%=locals.flash.error%>',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>
    </script>
    <%- script -%>
</body>
</html>